.path {
    font-size: .8rem;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    padding: .5rem 0;
}

.path a {
    text-decoration: none;
    color: #3E87D0;
    transition: 200ms;
}

.path a:hover {
    color: #333333;
}

.table-title {
    font-size: 2rem;
    color: #3E87D0;
    padding-bottom: .3rem;
}

.table {
    border: 1px solid rgb(205, 208, 211);
    width: 100%;
    margin-bottom: 3rem;
}

.table th {
    background: #3E87D0;
    color: #F3F1EE;
    text-transform: uppercase;
    padding: .3rem 0;
    font-size: .9rem;
}

td {
    padding: 5px;
    background: rgb(247, 247, 247);
}

.circle {
    background-color: rgb(233, 233, 233);
    display:block;
    height: 50px;
    width: 50px;
    border-radius:50%;
    margin:auto;
    color:#333333;
    font-weight: bold;
    line-height: 50px;
    text-align:center;
}

.enabled {
    cursor: pointer;
}

.enabled:hover {
    background: #F5C20F;
    color: #F3F1EE;
}

.disabled {
    color: rgb(250, 250, 250);
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❗</text></svg>") 16 0,auto; /*!emojicursor.app*/
}


@media screen and (max-width: 1040px) {
    .path {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .table th {
        font-size: .8rem;
    }

    .table-title {
        font-size: 1.8rem;
    }

    .circle {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
}


@media screen and (max-width: 600px) {
    .path {
        display: block;
    }

    .table th {
        font-size: .75rem;
    }

    .table-title {
        font-size: 1.6rem;
    }

    .circle {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
}