.najnovije-section {
    display: flex;
    justify-content: space-between;
}

.najnovije-left {
    width: 49%;
}

.najnovije-right {
    width: 49%;
}

.vesti-dana {
    position: relative;
    cursor: pointer;
}

#vesti-dana-img {
    width: 100%;
}

.vesti-dana h2 {
    position: absolute;
    left: 12px;
    top: 12px;
    background: white;
    padding: .5rem;
    font-size: .95rem;
    text-transform: uppercase;
    color: #2F373E;
}

.vesti-dana .text-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(235, 184, 5);
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    font-size: 1.125rem;
    padding: .5rem;
}

.vesti-left {
    display: flex;
    padding: .75rem;
    cursor: pointer;
    transition: 400ms;
}

.vesti-left p {
    font-size: .86rem;
    color: #2F373E;
    font-weight: 600;
    line-height: 1.4;
    width: 58%;
    padding-top: .1rem;
}

.vesti-left:nth-child(even) {
    background: rgb(247, 247, 247);
}

.vesti-left:nth-child(odd) {
    background: rgb(233, 233, 233);
}

.vesti-left:hover {
    background: rgb(219, 219, 219);
}

.vesti-left img {
    width: 40%;
    margin-right: .5rem;
}

.vesti-opcije {
    display: flex;
}

.vesti-opcije #najnovije-btn {
    width: 50%;
    text-transform: uppercase;
    color: #F3F1EE;
    background: #3E87D0;
    padding: .9rem;
    border-bottom: 3px solid #3E87D0;
    font-size: .9rem;
    font-weight: bold;
}

.vesti-opcije #najvaznije-btn {
    width: 50%;
    text-transform: uppercase;
    color: #F3F1EE;
    background: #29487A;
    padding: .75rem;
    align-self: flex-end;
    border-bottom: 3px solid #3E87D0;
    font-size: .8rem;
    font-weight: bold;
}

.vesti-right {
    min-height: 110px;
    padding: .75rem;
    display: flex;
    cursor: pointer;
    transition: 400ms;
}

.vesti-right:hover {
    background: rgb(219, 219, 219) !important;
}

.vesti-right small {
    margin-right: 1.5rem;
    color: #2F373E;
}

.vesti-right h2 {
    font-size: .95rem;
    margin-bottom: .5rem;
    color: #2F373E;
}

.vesti-right p {
    font-size: .86rem;
    line-height: 1.4;
    color: #2F373E;
}

.vesti-right:nth-child(even) {
    background: rgb(247, 247, 247);
}

.vesti-right:nth-child(odd) {
    background: rgb(233, 233, 233);
}

#sve_vesti-btn {
    width: 100%;
    text-transform: uppercase;
    color: #F3F1EE;
    background: #3E87D0;
    padding: .9rem;
    font-size: .9rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    transition: 400ms;
}

#sve_vesti-btn:hover {
    background: #29487A;
}

.domaci_fudbal-section {
    margin-top: 2rem;
}

.domaci_fudbal-section h2 {
    padding: .75rem;
    color: #F3F1EE;
    width: 100%;
    background: #29487A;
    font-size: .9rem;
    text-transform: uppercase;
}

.domaci_fudbal-wrapper {
    display: flex;
    justify-content: space-between;
    background: rgb(247, 247, 247);
    padding: .75rem;
}

.fudbal {
    width: 14%;
}

.fudbal img {
    cursor: pointer;
}

.fudbal h6 {
    font-size: .86rem;
    color: #2F373E;
    margin: .4rem 0;
    line-height: 1.4;
}

.fudbal p {
    font-size: .86rem;
    color: #666;
    line-height: 1.4;
}

.fudbal-4 {
    width: 49%;
}

.fudbal-4 a {
    display: block;
    text-decoration: none;
    padding-top: 1.25rem;
    border-bottom: 1px dotted rgb(150, 150, 150);
    padding-bottom: 1.25rem;
    color: #2F373E;
    font-size: .86rem;
    font-weight: bold;
    transition: 400ms;
}

.fudbal-4 a:hover {
    background:rgb(219, 219, 219);
}

.fudbal-4 a:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fudbal-4 a:nth-child(4) {
    border: none;
}

.preporuka-section {
    margin-top: 2rem;
}

.preporuka-section h2 {
    padding: .75rem;
    color: #F3F1EE;
    width: 100%;
    background: #29487A;
    font-size: .9rem;
    text-transform: uppercase;
}

.preporuka-wrapper {
    padding: .75rem;
    display: flex;
    background: rgb(247, 247, 247);
    flex-wrap: wrap;
    justify-content: space-between;
}

.preporuka {
    width: 32%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.preporuka:hover img {
    transform: scale(1.1);
    transition: 500ms;
}

.preporuka p {
    margin-top: .5rem;
    font-weight: bold;
    color: #2F373E;
    line-height: 1.3;
}

.preporuka p span {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.ne-propustite-section {
    margin-top: 2rem;
}

.obavezno-section {
    margin: 3rem 0;
}

.ne-propustite-section h2, .obavezno-section h2 {
    padding: .75rem;
    color: #F3F1EE;
    width: 100%;
    background: #29487A;
    font-size: .9rem;
    text-transform: uppercase;
}

@media screen and (max-width: 1040px) {
    /* Najnovije section */
    .najnovije-section {
        display: block;
    }

    .najnovije-left {
        width: 100%;
    }

    .vesti-dana .text-wrapper {
        height: 15%;
    }

    .najnovije-right {
        width: 100%;
    }

    .vesti-right {
        max-width: 500px;
    }
}
